
.divIndies {
    background-color: #FDF0F0;
}
.h1Indies{
    background-color: #DAC0A3;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #1F4172;
    text-align: center;
    font-size: 2.3rem;
}