
.divRpg{
    background-color: #071952;
}
.h1Rpg{
    background-color: #0B666A;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #97FEED;
    text-align: center;
    font-size: 2.3rem;
}