
.sandboxDiv{
    background-color: #ECE3CE;
}
.sandboxH1{
    background-color: #3A4D39;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ADBC9F;
    text-align: center;
    font-size: 2.3rem;
}
